@import url("../../styles/animations.css");

.inbox-is-open {
  animation: slideRight 0.5s forwards;
}

.inbox-is-closing {
  animation: slideRightClose 0.3s forwards !important;
  transition: all 0.3s ease;
}
